<!DOCTYPE html>
<html lang="en" dir="ltr">
{% load static %}
  <head>
    <meta charset="utf-8">
    <title>Patient_site</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css\index.css" %}"/
  </head>
  <body>
    <div class="container">
      <h1>Patient register portal</h1>
      <form  method="post">
          {{ forms.as_p }}
          {% csrf_token %}
          <input type="Submit" name="btn btn-primary" value="submit">

      </form>



    </div>

  </body>
</html>
